<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/fontello.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Студия эстетики тела</title>
</head>
<body>
<header>
<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container-fluid">
      <img src="../static/img/logo2_cut-photo.ru.jpg" alt="" width="40" height="40">
    <a class="navbar-brand" href="#">ZIMINA.STUDIYA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#about">О студии</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#specialists">Наши специалисты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>
<section class="index mt-5" id="about">
  <container>
    <h1 class="text-center display-3">СТУДИЯ ЭСТЕТИКИ ТЕЛА АННЫ ЗИМИНОЙ</h1>
    <h3 class="text-center display-6"><em>идеальное место в городе, где в любое время можно отдохнуть, погрузиться в атмосферу спокойствия, расслабить и оздоровить свое тело, погрузиться в мир себя и своих ощущений.</em></h3>

    <h2 class="text-center display-4 mt-5 mb-5">ZIMINA.STUDIYA – ТВОЕ МЕСТО ДЛЯ ДУШИ И ТЕЛА</h2>
    <h4 class="text-center mt-3">У нас за плечами физкультурное и медицинское образование, огромный опыт работы, несчетное количество различных семинаров и обучений, громаднейшая база благодарных клиентов.
                                      Мы ценим заботу и уют, приятную атмосферу, музыку и теплоту.</h4>
    <h4 class="text-center mt-3">Студия Эстетики Тела — это место, где вы сможете отдохнуть душой и телом. Забыть все хлопоты и погрузиться в мир себя и своих ощущений.</h4>
    <h4 class="text-center mt-3">Нам важно подарить гостям внутреннее равновесие, ясность мыслей, здоровье и красоту тела, поэтому мы делимся с вами секретами, позволяющими надолго сохранить в себе гармонию, мудрость и неиссякаемую энергию.
                                      Уже после первого посещения ZIMINA.STUDIYA наши гости ощущают не только прилив жизненной энергии, но и чувствуют улучшения во всем организме.</h4>
    <h4 class="text-center mt-3">Мы предоставляем уникальную возможность поделиться добром с близкими, подарить им здоровье, красоту и молодость с помощью подарочных сертификатов, которые действуют в течение года.</h4>
    <h4 class="text-center mt-3">Мы базируемся на ручных техниках лица и тела. От лечебных до расслабляющих процедур. Программы по коррекции фигуры и аппаратные методики. Спа процедуры и парные массажи.</h4>
    <h4 class="text-center mt-3">Мы даем гарантию, что время, проведенное в ZIMINA.STUDIYA, будет одним из лучших и приятных моментов в вашей жизни.</h4>
    <h4 class="text-center mt-3">Отдых и восстановление — это то, что так не обходимо современному человеку. Помните - вы у себя одна, или один, и никогда не забывайте об этом 🤍</h4>
  </container>
</section>

<section class="index" id="home">
    <div class="container-fluid my-carousel ps-0 pe-0" style="padding-top:50px">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="static/img/logo2_big.jpg" class="logo" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="static/img/IMG_0405.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="static/img/IMG_0547.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="static/img/IMG_8626.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
<section class="about" id="specialists" style="margin-top:50px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase">Наши специалисты</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 mb-3 mt-3">
                <div class="card">
                <img src="static/img/spec/аня" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text"><h4 class="text-center">Зимина Анна</h4>
                                          <p class="lead">Руководитель Студии Эстетики Тела, специалист по массажу, ручной, аппаратный, СПА.</p>
                                          <p><strong>Несколько фактов:</strong></p>
                                          <ul>
                                            <li>Два высших образования ВГАФК и РАНХ и ГС</li>
                                            <li>Массажем занимается с 2008г как любитель, и с 2011г как профессионал</li>
                                            <li>Обучалась в лучших местных и международных школах. Владеет более 15 различными техниками массажа: глубокий массаж спины, висцеральный массаж живота,
                                              хтромассаж IQ-релакс, миотонизирующий массаж, ГуаШа массаж, китайская техника массажа Ци Сюэ Тонг, фундаментальная коррекция зоны живота «Slim Body massage» и др.. Изучает психосоматику.</li>
                                            <li>До массажа работала в Спортивной Детско-Юношеской Школе по водным видам спорта, тренером по гребле на байдарках. И параллельно в фитнес-клубах нашего города. Отдала 6 лет спортивной профессии</li>⠀
                                            <li>Свою юность посвятила гребле на байдарках. И получила звание МС</li>
                                          </ul>
                                          <li>Ее стремление - показать вам ваше тело. Показать какое оно красивое, научить правильно его слушать, и жить так, как комфортно вам обоим.</li>
                      </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-3 mt-3">
                <div class="card">
                <img src="static/img/spec/fd0513eee4329635c033b883db723be9.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text"><h4 class="text-center">Навлянова Надежда</h4>
                                          <p class="lead">Специалист по ручному и аппаратному массажу. Опыт работы 4 года, половина из них в оздоровительном центре.
                                                          Образование массажиста Надежда получила в медицинском университете.</p>
                                          <p><strong>Выполняет:</strong></p>
                                          <ul>
                                            <li>Ручной классический массаж,</li>
                                            <li>Антицеллюлитный,</li>
                                            <li>Лимфодренажный,</li>
                                            <li>Глубокий массаж спины,</li>
                                            <li>Спа процедуры, скрабирование и обертывание,</li>
                                            <li>Аппаратные техники: вибромассаж, вакуумный массаж и микротоки по телу, кавитация, Rf-лифтинг.</li>
                                          </ul>
                                          <li>Надежда всю жизнь в спорте - с детства занимается профессиональным волейболом.
                                            Поэтому у нее очень хорошие сильные руки. Как раз для тех, кому хочется по сильнее.</li>
                                          <li>Это огромный плюс. Имея спортивную жизнь массажист лучше понимает биомеханику движений, это помогает разобрать ваши проблемы от и до.</li>
                                          <li>Да и как научить людей чувствовать свое тело, если ты сам этого не умеешь!</li>
                      </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-3 mt-3">
                <div class="card">
                <img src="static/img/spec/UTiBXZul33ojQdLXm4TXcSZOwPNo1t.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text"><h4 class="text-center">Кашарникова Юлия</h4>
                                          <p class="lead">Специалист по массажу, ручной, аппаратный, СПА. Опыт работы 12 лет
                                            В 2010 году закончила медицинский колледж. Начала работать параллельно вместе с учёбой.</p>
                                          <li>Владеет различными техниками массажа.</li>
                                          <li>Антицеллюлитный, лечебный массаж спины, висцеральный массаж живота, спортивный, релаксирующий, миотонизирующий массаж.</li>
                                          <li>Интересуется психосоматикой.</li>
                                          <li>Ранее работала в санатории-профилактории, салонах красоты</li>
                                          <li>Юлина техника достаточна мягкая, но в тоже время глубокая, отлично прорабатываются все мышечные слои нашего тела</li>
                                          <li>По мимо ручных техник, Юлия работает на всех наших аппаратах, по лицу и телу, выполняет СПА процедуры и стоун-терапию.</li>
                                          <li>Если вы ни разу не были на массаже, или не любите сильный болезненный массаж, если вас мучают боли в спине,
                                            или проблемы психосоматического характера, то вам однозначно к Юлии</li>
                      </p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<section class="about" id="services" style="margin-top:50px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase">Наши услуги</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h4 class="text-center fw-bold mb-3 mt-3">Для неё</h4>
                <div class="accordion accordion-flush" id="accordion1">
                      <div class="accordion-item">
                                <h2 class="accordion-header" id="heading1">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1"
                                          aria-expanded="false" aria-controls="flush-collapse1">
                                    Услуга раз
                                  </button>
                                </h2>
                                <div id="flush-collapse1" class="accordion-collapse collapse" aria-labelledby="heading1e" data-bs-parent="#accordion1">
                                  <div class="accordion-body fst-italic">Что то о первой услуге</div>
                                </div>
                      </div>

                          <div class="accordion-item">
                                <h2 class="accordion-header" id="heading2">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2"
                                          aria-expanded="false" aria-controls="flush-collapse2">
                                    Услуга два
                                  </button>
                                </h2>
                                <div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordion1">
                                  <div class="accordion-body fst-italic">что то о второй услуге</div>
                                </div>
                          </div>

                          <div class="accordion-item">
                                <h2 class="accordion-header" id="heading3">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3"
                                          aria-expanded="false" aria-controls="flush-collapse3">
                                    Услуга три
                                  </button>
                                </h2>
                                <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordion1">
                                  <div class="accordion-body fst-italic">и немного о третьей</div>
                                </div>
                          </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <h4 class="text-center fw-bold mb-3 mt-3">Для него</h4>
                <div class="accordion accordion-flush" id="accordion2">
                      <div class="accordion-item">
                                <h2 class="accordion-header" id="heading4">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4"
                                          aria-expanded="false" aria-controls="flush-collapse4">
                                    Услуга раз
                                  </button>
                                </h2>
                                <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordion2">
                                  <div class="accordion-body fst-italic">Что то о первой услуге</div>
                                </div>
                      </div>

                          <div class="accordion-item">
                                <h2 class="accordion-header" id="heading5">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5"
                                          aria-expanded="false" aria-controls="flush-collapse5">
                                    Услуга два
                                  </button>
                                </h2>
                                <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordion2">
                                  <div class="accordion-body fst-italic">что то о второй услуге</div>
                                </div>
                          </div>

                          <div class="accordion-item">
                                <h2 class="accordion-header" id="heading6">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6"
                                          aria-expanded="false" aria-controls="flush-collapse6">
                                    Услуга три
                                  </button>
                                </h2>
                                <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordion2">
                                  <div class="accordion-body fst-italic">и немного о третьей</div>
                                </div>
                          </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <h4 class="text-center fw-bold mb-3 mt-3">Для них</h4>
                <div class="accordion accordion-flush" id="accordion3">
                      <div class="accordion-item">
                                <h2 class="accordion-header" id="heading7">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse7"
                                          aria-expanded="false" aria-controls="flush-collapse7">
                                    Услуга раз
                                  </button>
                                </h2>
                                <div id="flush-collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordion3">
                                  <div class="accordion-body fst-italic">Что то о первой услуге</div>
                                </div>
                      </div>

                          <div class="accordion-item">
                                <h2 class="accordion-header" id="heading8">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse8"
                                          aria-expanded="false" aria-controls="flush-collapse8">
                                    Услуга два
                                  </button>
                                </h2>
                                <div id="flush-collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordion3">
                                  <div class="accordion-body fst-italic">что то о второй услуге</div>
                                </div>
                          </div>

                          <div class="accordion-item">
                                <h2 class="accordion-header" id="heading9">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse9"
                                          aria-expanded="false" aria-controls="flush-collapse9">
                                    Услуга три
                                  </button>
                                </h2>
                                <div id="flush-collapse9" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordion3">
                                  <div class="accordion-body fst-italic">и немного о третьей</div>
                                </div>
                          </div>
                </div>
            </div>




        </div>
    </div>
</section>

<section class="index mt-5" id="rules">
<h2 class="text-center text-uppercase">Этикет студии</h2>
  <h5 class="text-center">Предлагаем вам ознакомиться с правилами этикета, принятыми в нашей студии.</h5>
  <h6 class=><p>Рекомендуем вам всегда заранее записываться на сеанс, чтобы быть уверенными в возможности проведения выбранной вами процедуры в предпочтительное для вас время.</p>
    <p>Записаться на сеанс вы можете по телефону 8 (909) 385 87 28 или он лайн ссылке. ….</p>
    <p>Если по каким-то причинам вы не можете посетить наш СПА в забронированное время, просим предупредить об отмене визита не менее чем за 5 часов.
        Если подтверждение вашей оплаты — это предоплата, несвоевременный отказ от забронированного времени прохождения процедур, к сожалению, ведет к аннулированию и списанию денежных средств.</p>
    <p>Рекомендуется приходить за 5–10 минут до назначенного времени начала процедур (это время необходимо на переодевание). Тапочки, полотенца и одноразовое белье предлагаются.</p>
    <p>К сожалению, время опоздания гостя отразится на продолжительности процедур, так как любое изменение в расписании мастеров может негативно повлиять на обслуживание других клиентов студии.
      <p>ВРЕМЯ ОПОЗДАНИЯ НА СЕАНС НЕ КОМПЕНСИРУЕТСЯ!</p>
    <p>Перед любыми процедурами нежелательны обильная еда и питье. Администрация студии оставляет за собой право отказать в обслуживании лицам в состоянии алкогольного опьянения или при их неадекватном поведении.</p>
    <p>До начала сеанса просим вас ознакомиться с перечнем возможных противопоказаний, который Вы всегда можете изучить в зоне ожидания и сообщить о каких-либо текущих недомоганиях.</p>
    <p>Для поддержания обстановки релаксации просим вас отключить мобильные телефоны и другие электронные устройства. Не приветствуются громкие разговоры.</p>
    <p>Курение в студии запрещается.</p>
    <p>«Чаевые» вознаграждения специалистам нашей студии остаются на усмотрение гостя.</p>
    <p>Ваше мнение об уровне предоставляемых услуг, замечания или предложения по работе вы можете оставить в Книге отзывов и предложений, которая находится в зоне ожидания или на нашем сайте, на странице Отзывы.</p>
    <p>Качество оказываемых услуг и ваше комфортное состояние — главные ценности для нас.</p>




  </h6>

</section>

<footer id="footer">
    <nav class="navbar fixed-bottom navbar-light bg-light ">
            <div class="container-fluid">
            <div class="d-grid gap-2 col-6 mx-auto">
                  <a class="btn btn-light" href="https://dikidi.net/517055?p=0.pi" role="button">Записаться</a>
            </div>
            </div>
    </nav>

</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>